/* ==UserStyle==
@name           Rounded Archlinux
@namespace      github.com/claymorwan/better-arch
@version        1.0.0
@description    Userstyle to give Arch Linux's pages rounded corner cuz why not 
@author         claymorwan
==/UserStyle== */

@-moz-document regexp('https://((aur|wiki|bbs|security)\.)?archlinux\.org/.*') {
    
    .box {
        border-radius: 10px;
    }
    
    .widget {
        border-radius: 5%;
    }

    #pkgsearch {
        border-radius: 10px;
    }

    #actionlist {
        border-radius: 5% !important;
    }

    a.active {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .cgit-panel form {
        border-radius: 100% !important;
    }

    table.diffstat {
        tr {
            border-radius: 100% !important;
        }
    }

    .catlinks {
        border-radius: 10px;
    }

    pre {
        border-radius: 10px;
    }
}